{% extends 'base.html' %}
{% block title %}Crear Tarea{% endblock %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}
{% block content %}
<h1>Crear Tarea</h1>
<form method="post" novalidate>
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="mb-3">
        {{ form.id_mantenimiento.label_tag }}
        {{ form.id_mantenimiento }}
        {{ form.id_mantenimiento.errors }}
    </div>
    <div class="mb-3">
        {{ form.id_encargado.label_tag }}
        {{ form.id_encargado }}
        {{ form.id_encargado.errors }}
    </div>
    <div class="mb-3">
        {{ form.id_maquina.label_tag }}
        {{ form.id_maquina }}
        {{ form.id_maquina.errors }}
    </div>
    <div class="mb-3">
        {{ form.fecha_inicio.label_tag }}
        {{ form.fecha_inicio }}
        {{ form.fecha_inicio.errors }}
    </div>
    <div class="mb-3">
        {{ form.fecha_fin.label_tag }}
        {{ form.fecha_fin }}
        {{ form.fecha_fin.errors }}
    </div>
    <button type="submit" class="btn btn-primary">Crear</button>
    <a href="{% url 'panel-control' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}