{% extends 'base.html' %}
{% block title %}Ver Tarea{% endblock %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}
{% block content %}
<h1>Detalles de las Tareas</h1>
<!-- Mostrar detalles de la tarea -->
{% if tareas %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID Tarea</th>
            <th>ID Mantenimiento</th>
            <th>ID Encargado</th>
            <th>ID Máquina</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
        </tr>
    </thead>
    <tbody>
        {% for tarea in tareas %}
        <tr>
            <td>{{ tarea.id_tarea }}</td>
            <td>{{ tarea.id_mantenimiento }}</td>
            <td>{{ tarea.id_encargado }}</td>
            <td>{{ tarea.id_maquina }}</td>
            <td>{{ tarea.fecha_inicio }}</td>
            <td>{{ tarea.fecha_fin }}</td>
            <!-- boton para ingresar a la tarea -->
            <td>
                <a href="{% url 'ver-tarea-detalle' tarea.id_tarea %}" class="btn btn-primary">Ver Detalles</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No hay tareas registradas todavía.</p>
{% endif %}
{% endblock %}