{% extends 'base.html' %}
{% block title %}Todas las Máquinas{% endblock %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}
{% block content %}
<h1>Listado de Máquinas</h1>
{% if maquinas %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo de Máquina</th>
            <th>Tareas Asignadas</th>
        </tr>
    </thead>
    <tbody>
        {% for maquina in maquinas %}
        <tr>
            <td>{{ maquina.id_maquina }}</td>
            <td>{{ maquina.tipo_maquina }}</td>
            {% for tarea in tareas %}
            {% if tarea.id_maquina.id_maquina == maquina.id_maquina %}
            <td>
                {{ tarea.id_tarea }}
            </td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No hay máquinas registradas todavía.</p>
{% endif %}
{% endblock %}