{% extends 'base.html' %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}
<a href="{% url 'register' %}" class="btn btn-secondary mb-3">Registrarse</a>
<h1>Iniciar Sesión</h1>
<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">Usuario:</label>
        <input type="text" id="username" name="username" class="form-control" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Contraseña:</label>
        <input type="password" id="password" name="password" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
</form>
{% endblock %}