{% extends 'base.html' %}
{% block title %}Ver Tarea{% endblock %}
{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}
{% block content %}
<h1>Detalles de la Tarea</h1>
<!-- Mostrar detalles de la tarea -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Tarea ID: {{ tarea.id_tarea }}</h5>
        <p class="card-text">
            Máquina: {{ tarea.id_maquina.tipo_maquina }}<br>
            Mantenimiento: {{ tarea.id_mantenimiento.get_tipo_mantenimiento_display }}<br>
            Encargado: {{ tarea.id_encargado }}<br>
            Fecha de Inicio: {{ tarea.fecha_inicio }}<br>
            Fecha de Fin: {{ tarea.fecha_fin }}
        </p>
    </div>
</div>
{% endblock %}